.github
.mypy_cache
.venv

data/documents/
data/processed/
data/raw/
data/vectorstore/
data/lgpd_database/

__pycache__

.env
.env.example

scripts/evaluate_model.py

notebooks/data_exploration.ipynb
notebooks/lgpd_rag_prototype.ipynb
notebooks/model_evaluation.ipynb

config/
docs/
tests/

pytest.ini


